/*----------------------
1. Large desktop :1170px
------------------------*/
@media (min-width: 1170px) and (max-width: 1920px) {
    .navbar {
        padding: 20px 0;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .stick {
        padding: 5px 0px;
    }
}


/*----------------------
2. Normal desktop :992px
------------------------*/
@media (min-width: 992px) and (max-width: 1169px) {
    .navbar {
        padding: 20px 0;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .stick {
        padding: 5px 0px;
    }
    .banner-content{
        margin-top: 70px;
    }
    .about-image{
        padding-top: 66px;
    }
}

/*----------------------
3. Tablet desktop :768px
------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        padding: 20px 0;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .navbar-nav > li > a{
        padding: 9px 15px;
    }
    .stick {
        padding: 5px 0px;
    }
    /*about*/
    .banner-content{
        margin-top: 70px;
    }
    .personal-details{
        padding: 0px;
    }
    /*skill*/
    .skill-section .col-md-4{
        margin-bottom: 60px;
    }
    .skill-section .col-md-4:last-child{
        margin-bottom: 0px;
    }
    /*price*/
    .price-inner {
        margin-bottom: 60px;
    }
    .price-table .col-md-4:last-child .price-inner {
        margin-bottom: 0px;
    }
    .statistics-section .col-sm-6:nth-child(even){
        border-left: 1px solid #B2E477;
    }
}


/*----------------------
4. Large Mobile :480px
------------------------*/
@media(max-width:767px) {
    .navbar{
        background: #2A2F33;
    }
    .navbar-nav {
        text-align: center;
        width: auto;
    }
    .banner-content{
        margin-top: 20px;
    }
    /*TimeLine*/
    .timeline::before {
        left: 23px;
    }
    .timeline-marker {
        left: 20px;
    }
    .timeline-details h4 {
        padding: 10px 10px;
    }
    .timeline-details span,
    .timeline-details p{
        padding: 0px 10px;
    }
    .timeline .left {
        text-align: left;
        margin-left: 71px;
        margin-right: 0px;
        float: none;
    }
    .timeline .right {
        margin-left: 71px;
    }
    .timeline-year{
        display: block;
        border-radius: 0px;
        padding: 10px 10px;
    }
    .timeline-year:nth-child(odd){
        margin-top: 10px;
    }
    .timeline-year:nth-child(even){
        margin-bottom: 10px;
    }
    .right-arrow, .left-arrow,
    .right-arrow-year,
    .left-arrow-year {
        display: none;
    }
    /*portfolio*/
    .portfolio-item{
        width: 33.33%;
    }
    .skill-section .col-md-4{
        margin-bottom: 60px;
    }
    .skill-section .col-md-4:last-child{
        margin-bottom: 0px;
    }
    .price-inner {
        margin-bottom: 30px;
    }
    .price-table .col-md-4:last-child .price-inner {
        margin-bottom: 0px;
    }
}

/*----------------------
5. small mobile :320px
------------------------*/
@media(max-width:481px) {
   .banner-section h1{
        font-size: 37px;
   } 
   .more-skills li {
        width: 100%;
   }
   /*portfolio*/
   .filter-btn li {
        display: block;
    }
   .portfolio-item{
        width: 50%;
    }
}


/*----------------------
6. small mobile :320px
------------------------*/
@media screen and (max-width: 320px){
    .portfolio-item{
        width: 100%;
    }
}